# This is an example of what `.env` files look like.
# They are just environment variable definitions in `sh` syntax.
# (Note the difference between single quotes ' and double quotes " regarding special characters like backslash)
#
# --------------------------------------------------------------------------------
#
# Variables for controlling Invenio app configuration must be prefixed
# with "INVENIO_"; and for the values, Python syntax is supported.
# E.g. the following environment variable:
#
# INVENIO_MY_CONFIG='["hello", "world"]'
#
# would result in the the following Invenio app config being set on startup:
#
# app.config["MY_CONFIG"] = ["hello", "world"]
#
# --------------------------------------------------------------------------------
#
# Database connection details
INVENIO_DB_USER=nsu-inveniordm
INVENIO_DB_PASSWORD=nsu-inveniordm
INVENIO_DB_HOST=localhost

# Message queue username
INVENIO_MQ_USER=guest
INVENIO_MQ_PASSWORD=guest

# Email configuration
# Note: GMail wants an app password instead of the normal account password
# cf. https://stackoverflow.com/questions/37058567/configure-flask-mail-to-use-gmail
INVENIO_MAIL_DEFAULT_SENDER='no-reply@nsu.kg'
INVENIO_MAIL_USERNAME='mail.address@example.com'
INVENIO_MAIL_PASSWORD='<the-gmail-account-app-password>'
INVENIO_MAIL_PORT='587'
INVENIO_MAIL_SERVER='smtp.gmail.com'
INVENIO_MAIL_USE_TLS='True'
INVENIO_MAIL_SUPPRESS_SEND='False'

# Secret key for encryption (e.g. shared links)
INVENIO_SECRET_KEY=3e8a7f3ec7e85f5d09e23b775c38204877a728b6eca2b34e64deccd9d054d3645

# Custom value: User ID under which to run Invenio in the container;
# relevant for permissions on the "uploaded data" directory.
INVENIO_CONTAINER_UID=1000

# Custom value: Tell `docker compose` where to find the uploaded data
INVENIO_UPLOADED_DATA_LOCATION="/data"
